:root {
  --gray: #212121;
  --green: #009560;
  --white: #e9e9e9;
  --black: #0c0c0c;
}
@font-face {
  font-family: neu;
  src: url(./fonts/NeueMachina-Regular_DQCmjH1st.ttf);
}

@font-face {
  font-family: hel;
  src: url(/fonts/Helvetica_NTUXwLmxSC.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--white);
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--black);
}

.green {
  color: var(--green);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 100px;
  position: fixed;
  width: 100%;
}

.nav1 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav1 h4 {
  font-family: neu;
  font-size: 20px;
  line-height: 1.3;
  font-weight: 900;
}

.nav1 img {
  height: 55px;
}

.nav2 {
  display: flex;
  align-items: center;
  gap: 4em;
}

.nav2 h4 {
  font-family: hel;
  font-size: 17px;
  font-weight: 900;
}

.nav2 img {
  height: 50px;
  border-radius: 50%;
}

.nav3 {
  display: none;
  align-items: center;
  gap: 4em;
}

.nav3 h4 {
  font-family: hel;
  font-size: 17px;
  font-weight: 900;
}

.nav3 img {
  height: 50px;
  border-radius: 50%;
}

@media (max-width: 600px) {
  nav {
    padding: 20px 20px;
  }
  .nav1 h4 {
    font-size: 15px;
  }
  .nav1 img {
    height: 40px;
  }
  .nav2 {
    display: none;
  }
  .nav3 {
    display: flex;
    gap: 2em;
  }
}

main {
  padding-top: 150px;
}
.section1 {
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
  font-family: hel;
}

.section1 .left {
  width: 45%;
}

.section1 .right {
  width: 45%;
}

.left h1 {
  width: 100%;
  font-size: 55px;
}

.left .tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 7px;
  width: 30em;
  font-size: 14px;
  margin: 30px 0;
}
.left .tags h4 {
  border-radius: 5px;
  padding: 15px 28px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  background-color: var(--gray);
}

.left h2 {
  margin-top: 50px;
  font-size: 50px;
}

.left h2 .lgray {
  color: gray;
  font-size: 24px;
}

.left h2 #gprice {
  font-size: 40px;
}
.left h5 {
  font-size: 20px;
  padding: 10px 0;
}

.left h2 .gst {
  font-size: 25px;
}

.left .button {
  margin: 20px 0;
}
.left .button #buy {
  font-size: 30px;
  font-weight: 900;
  border: none;
  background-color: var(--green);
  padding: 20px 80px;
  border-radius: 5px;
  margin-right: 10px;
}

#buy:hover {
  cursor: pointer;
}

.left .button #syllabus {
  font-size: 30px;
  background-color: var(--gray);
  padding: 20px 60px;
  border-radius: 5px;
  border: none;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.right .vid {
  width: 100%;
  height: 100%;
}

.right .tags2 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 20px;
  justify-content: space-around;
  background-color: var(--gray);
}

.right .tags2 h4 {
  margin: 10px;
  height: max-content;
  padding: 20px 25px;
  border-radius: 5px;
  white-space: nowrap;
  width: 40%;
  background-color: #1c1c1c;
  font-size: 20px;
}

@media (max-width: 1200px) {
  .section1 .left h1 {
    font-size: 4vw;
  }
}

@media (max-width: 800px) {
  .section1 {
    flex-direction: column-reverse;
    padding: 15px;
  }

  .section1 .left {
    width: 100%;
  }
  .section1 .left h1 {
    font-size: 33px;
  }

  .section1 .right {
    width: 100%;
    height: 500px;
  }
}

@media (max-width: 600px) {
  .section .left h1 {
    font-size: 5vw;
  }
}

.section2 {
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section2 h1 {
  font-family: hel;
  font-size: 120px;
  background-image: url(https://ik.imagekit.io/sheryians/Aptitude%20&%20Reasoning/bloomMask%20Large_lvwFbM14_l.png);
  background-size: cover;
  background-clip: text;
  position: relative;
  color: transparent;
}

.section2 h1.blur {
  position: absolute;
  filter: blur(80px);
}
